                                                                 /* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica; 
    color: #333;
    box-sizing: border-box; /* Border-box - para os inputs não passarem a largura maxima dos seus elementos PAIS */
}
h2{
    /*mensagem de boas vindas*/
    display: inline-block;
    margin: 0;
    font-size: 15pt;
    position: fixed;
    left: 20pt;
    top: 35pt;
    color: #232a34;
    font-family: Arial, Helvetica, sans-serif;
}
#icone{
    /*icone de bom dia ou boa noite*/
    position: fixed;
    left: 140px;
    top: 26pt;
    width: 30pt;
    height: 30pt;
    background-color: #161a1d00;
    border: none;
}
body {
    background: url("marek-piwnicki.jpg") no-repeat center center fixed ; 
    background-size: cover; 
}
button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: none;
    border-radius: 15px;
    padding: .3rem .6rem; /*rem se adapta a unidade de medida do*/
    font-size: 1rem;
    cursor: pointer; /* Pra mostrar a mãozinha quando passar por cima do botao */
    display: flex;
    justify-content: center;
    align-items: center;  /*Pra centralizar os icones nos botões */
    transition: 0.4;
}
button:hover {
    background-color: #102f5e; /* Modifica a cor do botão quando passar o mouse, convertendo tbm pra branco, ou seja, fundo escuro e letras brancas */
    color: #fff;
}
button:hover > i {
    color: #fff; /* Modifica a cor do ícole pra branco, quando passar o mouse */
}
button i {
    color: #102f5e; /* Define as cores padrões dos icones, e em negrito */
    font-weight: bold;
    pointer-events: none;
}
input, select {
    padding: 0.25rem 0.5rem; /* Dá o espaçamento */
    border-radius: 15px;
    border: none;
    text-align: center;
    color: #333;
}
.hide {
    display: none;
}                                                       /* To-do header (Cabeçalho) */
.todo-container {
    max-width: 450px;
    margin: 3rem auto; /* Limita a largura do to-do e centraliza ele na tela */
    background-color: #fdfdfd99;
    padding: 1.5rem;
    border-radius: 15px; /* Criou o container */
    backdrop-filter: blur(15px); 
}
.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}  

                                                                 /* To-do formulário */
#todo-form, #edit-form { /* pra dividir os elementos */
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#todo-form h4{
    margin-left: 6rem;
}
h4 { /* Tira esses elementos da borda e deixa negrito */
    align-self: center;
    margin-bottom: 0.5rem; 
    font-weight: bold;
}
.form-control {
    display: flex; /* deixa os inputs ao lado dos botões */
}
.form-control input {
    margin-right: 0.3rem; /* cria um mini espaçamento do input */
    margin-top: 0.1rem;
    width: 100%;
    height: 40%;
}
#edit-form h4{
    margin-left: 7rem;
}
#cancel-edit-btn {
    margin-top: 1rem;
}
                                                            /* To-do toolbar (barra de ferramentas) */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex; /* O flex faz com que o filtro e a barra de pesquisa e filtro fiquem um ao lado do outro */
}
#toolbar h4 {
    align-self: center;
    margin-bottom: .5rem;
}
#filter {
    /*width: 35%*/
    width: 100%;
    display: flex;
    flex-direction: column;
}
#filter select {
    flex: 1;
}
                                                                 /* To-do List */ 
.todo {
    display: flex;
    justify-content: space-around;  /* Organiza o que tem pra fazer */
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}
.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}
.todo button {
    margin-left: 0.4rem;
}
.done {
    background-color: #395169; /* Troca a cor pra essa cor ai quando tiver concluída */
}
.done h3 {
    color: #fff;
    text-decoration: line-through; /* Faz o risquinho em cima da letra quando concluir */
}